.call-us {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #FFCCD5;
}
.call {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-style: italic;
}
.or {
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.email-text {
    text-align: center;
}
.email-text>div {
    font-size: 1.25rem;
    font-weight: bold;
}
.email-input {
    margin-bottom: 0.75rem;
}
.email-input .form-label {
    margin-bottom: 0.2rem;
}
