/* Section carousel */
.slide-lable {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}
.slide-content {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
[class*="content-"] {
  color: #343a40;
  top: 30%;
  z-index: 1;
}
.content-right {
  text-align: right;
  right: 10%;
  padding-left: 60%;
}
.content-left {
  text-align: left;
  left: 10%;
  padding-right: 60%;
}
.description-right {
  padding-bottom: 240px;
}

/* Section Shop By ... */
.-title-line-through {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ffffff;
}
.line-through {
  height: 30%;
  width: 100%;
  border-bottom: solid 1px #dee2e6;
  top: 0px;
  z-index: -1;
}
[class*="-name"] {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.ages {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #800f2f;
  background-color: #ffccd5;
  border-radius: 8px;
  padding: 4px 8px;
  transition: 1s;
}
.ages:hover {
  background-color: #FF8FA3;
  transition: 1s;
}
.brand-logo {
  padding: 0 16px;
  align-items: baseline;
  transition: 0.4s;
}
.brand-logo img {
  text-align: center;
  width: 70%;
}
.logo-img {
  text-align: center;
}
.brand-logo:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.category-name {
  color: #a4133c;
  left: 1.25rem;
  bottom: 0.6rem;
  z-index: 1;
}
.category-img {
padding-bottom: 10px;
}
.category-img img{
  border-radius: 8px;
}
.category{
  margin-bottom: 1rem;
  transition: 0.4s;
}
.category:hover {
  transform: scale(1.05);
  transition: 0.4s;
  
}
/* Section Video this week */
.video-this-week {
  background-color: #f8f9fa;
}
.video-title {
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.video-content {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #343a40;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
