* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}
a {
  text-decoration: none;
}
a:visited{
  color: inherit;
}

ul {
    list-style: none;
  }
section {
  margin-bottom: 28px;
}

.ms-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}


img {
  max-width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

[class*="col-"] {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Classes Utilities*/
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: end;
}
.j-between {
  justify-content: space-between;
}
.a-center {
  align-items: center;
}
.as-end {
  align-self: end;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.base-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffccd5;
  background-color: #ff4d6d;
}
.header-logo {
  padding: 8px 0;
  border-bottom: solid 1px #dee2e6;
}
#search {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  padding-left: 28px;
  padding-right: 8px;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #adb5bd;
}
.icon:hover {
  color:#212529;
}
.menu {
  padding: 12px 0
}
.menu-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #495057;
  padding: 12px 12px;
  text-decoration: none;
}
.menu-btn:hover {
  color:#ff4d6d;
}
.btn {
  padding: 4px 24px;
  border-radius: 8px;
}
.btn-primary {
  background-color: #ff758f; 
  color: #f8f9fa;
  border: none;
}
/* .btn:hover+:active+:focus+:visited+:focus-visible, */
.btn:focus,
.btn:active,
.btn:visited,
.btn:focus-visible,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:focus-visible {
  background-color: #FF4D6D;
  border:0px;
  box-shadow: none;
}
.btn-outline-primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff758f;
  border: solid 1px #ff758f;
  background-color: none;
  width: 100%;
}
[class*="-title"] {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #212529;
  text-align: center;
  padding-bottom: 20px;
}
.product-item {
  border-radius: 8px;
  padding: 16px 12px;
  -moz-box-shadow: 3px 3px 5px 0px #dee2e6;
  -webkit-box-shadow: 3px 3px 5px 0px #dee2e6;
  box-shadow: 3px 3px 5px 0px #dee2e6;
}
.product-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #343a40;
}
.original-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #343a40;
  text-decoration-line: line-through;
}
.discount-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #c9184a;
  text-decoration-line: none;
}
.sale-off {
  padding: 4px 12px;
  right: 12px;
  top: 16px;
  color: #ffffff;
  background: #c9184a;
  border-radius: 8px;
}

/* Section Recommended for you */
/* .carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-next-icon {
  background-image: none;
}
.fa-chevron-left {
  color: #ced4da;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  left: -24px;
  z-index: 1;
}
.fa-chevron-right {
  color: #ced4da;
  font-size: 28px;
  top: 50%;
  right: -24px;
  z-index: 1;
}
.card-title {
  text-align: left;
} */

.product-card {
  border-radius: 8px;
  padding: 16px 12px;
  -moz-box-shadow: 3px 3px 5px 0px #dee2e6;
  -webkit-box-shadow: 3px 3px 5px 0px #dee2e6;
  box-shadow: 3px 3px 5px 0px #dee2e6;
}
.product-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #343a40;
}
.original-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #343a40;
  text-decoration-line: line-through;
}
.discount-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #c9184a;
  text-decoration-line: none;
}
.sale-off {
  padding: 4px 12px;
  right: 12px;
  top: 16px;
  color: #ffffff;
  background: #c9184a;
  border-radius: 8px;
}

/* slick slider*/
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 1;
  transition: all 0.2s linear;
}
.slick-arrow-btn:hover {
  color: #ff758f;
}
.slick-prev {
  left: -30px;
}
.slick-next {
  right: -30px;
}
.slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}
.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color:#ff758f
}

/* footer*/
.fa-brands {
  font-size: 100px;
}
.footer-line {
  border-bottom: solid 1px #ced4da;
}

.footer {
  background-color: #e9ecef;
}
.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: #e9ecef;
  padding: 0 8px;

  z-index: 1;
}
.footer-line-through {
  height: 12px;
  width: 100%;
  border-bottom: solid 1px #ced4da;
}
.contact-details {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6c757d;
  padding-bottom: 6px;
}
.contact-info {
  font-weight: 700;
  color: #495057;
}
.social-logo {
  margin: 0 8px;
  font-size: 28px;
}
