.product-thumbnails {
  margin-top: 10px;
}
.product-thumb {
  margin-right: 8px;
  border: solid 1px #dee2e6;
  border-radius: 8px;
}

.product-left .slick-arrow {
  font-size: 14px;
}
.product-left.slick-prev {
  left: 10px !important;
}
.product-left .slick-next {
  right: 10px;
}
.slick-dots {
  display: none;
}

.product-right>* {
  margin-bottom: 0.75rem;
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  color: #212529;
}
.sale-percentage {
  font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #F8F9FA;
background: #C9184A;
padding: 5px 12px;
width: 78px;
border-radius: 8px;
}

.btn-in-single-page {
  padding: 4px 48px;
}

.tabs-title-1,
.tabs-title-2 {
  font-weight: 500;
font-size: 14px;
line-height: 22px;
  color: #343A40;
  padding: 0.4rem 0.4rem;
  
}
#tabs-title-1 {
  background-color: #E9ECEF;
}
.tabs-content {
  font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #495057;
padding: 0.4rem 0.4rem;
}

.tabs-title :hover { 
  background-color: #FFCCD5; 
  
} 

/* .hrvproduct-tabs .tabs { 
  border-bottom: 2px solid #1888c9; 
} 
.hrvproduct-tabs .tabs li { 
  display: inline-block; 
  float: left; 
  transition: all 0.5s; 
  -webkit-transition: background 0.5s; 
  font-weight: bold; 
  color: #272727; 
} 
.hrvproduct-tabs .tabs li.active, 
.hrvproduct-tabs .tabs li:hover { 
  background-color: #1888c9; 
  color: #ffffff; 
} 
.hrvproduct-tabs .tabs li a { 
  padding: 8px 12px !important; 
  text-transform: uppercase; 
  display: inline-block; 
  color: inherit; 
} 
.hrvproduct-tabs .tabs-content { 
  display: none; 
  padding: 10px; 
} 
.hrvproduct-tabs .tabs-content.active { 
  display: block; 
}  */
.recommended {
  margin-top: 28px;
}






#featured,
.thumbnail {
  object-fit: cover;
	cursor: pointer;
	border: 1px solid #dee2e6;
  border-radius: 8px;
}
#featured{
	max-height: 50rem;
}
.thumbnail {
  max-width: 6rem;
	max-height: 5rem;
	opacity: 0.5;
	margin: 0.25rem;
}
.thumbnail:hover {
	opacity:1;
}
.active {
	opacity: 1;
}
#slide-wrapper {
	display: flex;
	min-height: 70px;
	align-items: center;
}
#slider {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}
#slider::-webkit-scrollbar {
  display: none;
}
/* #slider::-webkit-scrollbar {
	width: 8px;
}
#slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;
}
#slider::-webkit-scrollbar-thumb:hover{
  background-color: #18b5ce;
} */
.arrow{
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	transition: .3s;
  opacity: 0.5;
}
.arrow:hover{
	opacity: 0.8;
}